<!-- app/views/customers/alphabetized.html.erb -->
<div class="customers-container">
  <h1>Customers (Alphabetical Order)</h1>
  
  <div class="navigation-links">
    <%= link_to "View All", root_path %>
    <%= link_to "View Missing Email", customers_missing_email_path %>
  </div>
  
  <div class="customers-list">
    <% @customers.each do |customer| %>
      <%= render partial: 'customer', locals: { customer: customer } %>
    <% end %>
  </div>
</div>